#Tratar dados do arquivo 'tempo.csv'

Aparencia: sol, nublado, chuva
Teperatura: -130  130F
Imidade 0  100
jogar: sim/nao

Tratar valores Nas

In [5]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [31]:
dataset = pd.read_csv("Tempo.csv",sep =';')
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [32]:
#Agrupando os dados para ver quais são os problemas
agrupado =dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [33]:
# Substiruindo o MENOS pela moda

dataset.loc[dataset['Aparencia'].isin(['menos']),'Aparencia'] = 'Sol'
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [34]:
#Agrupando pela temperatura
agrupado = dataset.groupby(['Temperatura']).size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [37]:
# Pegando só as temperaturas dentro do dominio para fazer a media
Filtrado =dataset[dataset['Temperatura']<100]
Filtrado

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        Sol           64     65.0  VERDADEIRO   sim
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [ ]:
# Pegando a media da temperatura para substituir o valor fora do comum
media = int(Filtrado['Temperatura'].mean())
media

73

In [ ]:
#Substituindo o valor estranho pela media
dataset.loc[dataset['Temperatura'] == 1220, 'Temperatura'] = 73

In [44]:
# Verificando novamente a temperatura

agrupado = dataset.groupby([dataset['Temperatura']]).size()
agrupado

Temperatura
64    1
65    1
68    1
69    1
70    1
71    1
72    1
73    1
75    2
80    1
81    1
83    1
85    1
dtype: int64

In [45]:
# Agrupando pela umidade
agrupado = dataset.groupby([dataset['Umidade']]).size()
agrupado

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [ ]:
# Verificando se tem valor nulo 
dataset['Umidade'].isnull().sum()

1

In [55]:
#Filtrando os valores dentro do padrão para achar a media
filtrado = dataset[dataset['Umidade'] < 100 ]
media = int(filtrado['Umidade'].mean())
media

80

In [56]:
#substituindo os valores entranhos e vazios pela media
dataset.loc[dataset['Umidade'] > 100, 'Umidade'] = media
dataset['Umidade'] = dataset['Umidade'].fillna(media)
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     80.0       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        Sol           64     65.0  VERDADEIRO   sim
7        sol           73     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75     80.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [58]:
#agrupando pelo vento
agrupado = dataset.groupby([dataset['Vento']]).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [59]:
#Procurando valores vazios
dataset['Vento'].isnull().sum()

1

In [60]:
#substituindo valores nulos pela moda
dataset['Vento'] = dataset['Vento'].fillna('FALSO')
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     80.0       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        Sol           64     65.0  VERDADEIRO   sim
7        sol           73     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75     80.0       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

Todas as colunas foram avaliadas e tratadas